.App{
    width: 100vw;
    height: 100vh;
    position: relative;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.3);
    
 
  }
  .App::before{
    content: "";
    background: url('./951312829d7ac449ea97f67a8e0d6fd651408353e49f2300a0c75e8bb410faa3.jpeg' ) no-repeat center center/cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .container{
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
  }

@media (max-width: 576px) {
  .App {
    width: 100vw;
    height: 150vh;
  }
  .App::before{
    height: 150vh; 
  }
}